.butWrap {
	background-color: #428bca;
	border: 1px solid #357ebd;
	padding: 10px 5px;
	border-radius: 20px;
	margin: 10px;
	width: 98%;
	height: 120px;
	padding-left: 8px;
}

.butWrap:hover {
	background-color: #3276b1;
}

.SubButLink {
	color: white;
	text-decoration: none;
}

.formsIFrame {
	width: 100%;
	border: none;
}

.eventsIFrame {
	width: 100%;
	border: none;
}

.worshipIFrame {
	width: 100%;
	border: none;
}

@media (min-width: 768px) and (max-width: 7000px) {
	.formsIFrame {
		height: 3000px;
	}

	.eventsIFrame {
		height: 4000px;
	}

	.worshipIFrame {
		height: 2200px;
	}
}

@media (min-width: 600px) and (max-width: 767px) {
	.formsIFrame {
		height: 4000px;
	}

	.eventsIFrame {
		height: 6000px;
	}

	.worshipIFrame {
		height: 4200px;
	}
}

@media (min-width: 2px) and (max-width: 600px) {
	.formsIFrame {
		height: 4400px;
	}

	.eventsIFrame {
		height: 6000px;
	}

	.worshipIFrame {
		height: 4200px;
	}
}