extends templates/main

block vars  
    - var pageTitle = "Article View"
    - var path = ['Home', 'Local & State', '3-vehicle crash south of Madras']

block head

block header

block content
    .row
        article.col-md-8
            h1 45-vehicle crash south of Madras
            
            p.pubDate.small August 09. 2013 4:00AM

            p Nam semper elit vitae tellus tincidunt, sit amet adipiscing massa blandit. Proin cursus eleifend lorem, ut fringilla massa rhoncus eu. Aliquam quis enim et elit imperdiet laoreet nec non odio. Maecenas porta tellus in velit facilisis, at auctor leo consectetur. Nunc dictum neque a nibh rhoncus placerat. Sed aliquam est vitae lacinia placerat. Proin tellus sem, pharetra eget erat at, lobortis tincidunt purus. Nam non sagittis quam. Vestibulum ut consectetur eros. Duis molestie lacus felis, sed bibendum quam eleifend vel. In id lectus in quam placerat bibendum.
            p In viverra eu ipsum nec ullamcorper. Aliquam tincidunt risus vel nibh laoreet condimentum. Nullam vestibulum porta risus in convallis. Donec non tincidunt risus. Quisque nec metus enim. Morbi tempor nisl rhoncus, fringilla leo at, cursus nulla. Integer eu convallis massa. Duis egestas iaculis mollis. Duis euismod et purus sollicitudin imperdiet. Cras lacinia a libero sit amet blandit. Nam et ligula blandit, tempus mi vitae, elementum risus. Proin eget aliquam mauris. Maecenas laoreet consequat dapibus.
            p Nulla eu aliquet libero, id sagittis augue. Ut velit elit, auctor in iaculis id, bibendum eget leo. Mauris ac varius magna, id fermentum ligula. Curabitur accumsan libero a dignissim vestibulum. Aliquam facilisis arcu diam, in rutrum lorem dictum ut. Maecenas ligula ipsum, dignissim tristique pulvinar ac, semper at ante. Nullam semper et nisi sit amet bibendum. Nam urna justo, hendrerit scelerisque quam non, gravida vestibulum lacus. Duis placerat arcu ut placerat tincidunt. Mauris mattis ullamcorper neque ac semper. Mauris justo dolor, lacinia sit amet orci ut, iaculis vulputate purus. Vestibulum semper quam nec odio imperdiet fermentum. Cras consequat feugiat facilisis. Nam purus metus, consectetur at sollicitudin quis, cursus congue velit.
            p Proin accumsan tristique ante ut fringilla. Vivamus euismod nulla non ipsum fringilla faucibus. Suspendisse rutrum eu quam sit amet consequat. Donec libero ligula, mattis ut interdum sit amet, ullamcorper a tortor. Nunc ac laoreet lorem, quis ultricies lorem. Donec ac neque urna. Ut molestie urna erat, et varius nisl rhoncus eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            p Donec et nisi ac purus rhoncus scelerisque a auctor dolor. Pellentesque ac orci vitae lorem euismod aliquam. Fusce auctor dolor dolor. Fusce molestie sed ligula sit amet mollis. Donec eleifend orci nec nibh fermentum blandit. Vivamus tellus nisi, consectetur id est id, porttitor laoreet risus. Nam vulputate tristique eros eu auctor. Nullam non neque nibh. Vivamus at dui quis diam tempus hendrerit. Mauris sollicitudin sodales tortor, id blandit nibh luctus egestas. Phasellus faucibus arcu sed elit sagittis, ac tincidunt dui dignissim. Nullam eu ultricies velit.
        .col-md-4 
   
